<IfModule mod_rewrite.c>
RewriteEngine on
# If not in a main directory, be sure to set RewriteBase properly...
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.cgi?$1 [nc]
</IfModule>
