<IfModule mod_rewrite.c>
RewriteEngine on
# If not in a main directory, be sure to set RewriteBase properly...
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# If using a wrapper, use this (change index.cgi to match the name of your
#  wrapper, or the script name itself (i.e. aneuch.pl)
RewriteRule ^([^/]+)$ index.cgi/$1 [QSA,L]
RewriteRule ^$ index.cgi [QSA,L,PT]
</IfModule>
